body {
    font-family: 'Happiness Sans', sans-serif;
    text-align: center;
    background-color: #F5F5F5;
}

@font-face {
    font-family: 'HappinessSans';
     src: url('path/to/happiness-sans.ttf');
}

#maintext {
    font-size: 1.5vw;
    color: #FF4930;
    width: 50vw;
    margin: 0 auto;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#maintext p {
    margin: 0;
}

#inputArea {
    color: #FF4930;
    outline: none;
    position: fixed;
    bottom: 4vw; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;/* 가운데 정렬 유지 */
}

@media (min-width: 1600px) {
    .copyright {
        font-size: 15px!important;
        width: 500px!important;
    }
    .main-copyright{
        font-size: 15px!important;
        width: 500px!important;
    }
    .popup{
        width: 450px!important;
        left: calc(50% - 225px)!important;
        top: 16%!important;
    }
    .popup.small{
        width: 4vw!important;
        height: 4vw!important;
        top: 10px!important;
        left: 10px!important;
    }
    #textInput {
        height: 2.5vw!important;
        font-size: 1vw;
    }

}
@media screen and (max-width: 768px) { 
    #maintext {
        font-size: 2vw; 
        width: 80vw; 
        top: 7.5vw; 
    }

    #inputArea {
        top: 2.5vw;
        width: 60vw; 
    }
    #textInput {
        width: 60vw;
        height: 4vw;
    }
    #outputArea{
        transform: translateY(13vw)!important;
        width: 90vw!important;
    }
    .popup-text {
        font-size: 2vw !important;
    }
    .popup.small {
        width: 30px!important;
        height: 30px!important;
        top: 2%!important;
    }
    .letter {
        margin: 6vw 0!important;
    }
    .mainImgShadow {
        top: 18%!important;
        width: 80vw!important;
        height: 48vw!important;
    }
    .main-image img {
        top: 18%!important;
        width: 80vw!important;
        height: 48vw!important;
    }
    .thumbnail-slider{
        transform: translateY(310%)!important;
        width: 80vw!important;
    }
    .scroll-message{
        font-size: 8px!important;
        top: 80%!important;
    }
    .popup-logo{
        width: 50px!important;
        height: 50px!important;
        bottom: 3px!important;
    }

}

@media screen and (max-width: 480px) { 
    #maintext {
        font-size: 2vw;
        width: 80vw; /* 더 넓게 */
        transform: translate(-50%, 17%)!important;
    }
    .letter {
        margin: 7vw 0;
    }

    #inputArea {
        top: 3vw;
            }
    #textInput {
        width: 60vw;
        height: 3vw;
    }
    #outputArea {
        transform: translateY(23vw)!important;
    }
    .popup{
        transform: translateX(5px)!important;
    }

    .logo {
        transform: translate(-50%, -25%)!important;
    }
    .popup-logo{
        bottom:5px!important;
    }

    .popup-text{
        font-size: 3vw !important;
    }
    .popup.small{
        transform:translateY(2px)!important;
        width: 10px!important;
        height: 10px!important;
    }
    .letter{
        margin: 7vw 0!important;
    }
    .mainImgShadow {
        top: 20%!important;
    }
    .main-image img {
        top: 20%!important;
    }
    .thumbnail-slider{
        transform: translateY(330%)!important;
    }
    .scroll-message{
        font-size: 8px!important;
        top: 48%!important;
    }
}

#textInput{
    text-align: center;
    outline: none;
    color: #FF4930;
    width: 40vw;
    height: 2vw;
    background: transparent;
    border: 1px solid #FF4930;
    z-index: 20;
    touch-action: manipulation;

}

#outputArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw; 
    margin: 0 auto;
    transform: translateY(8vw);
}

@media (max-width: 600px) { 
    #outputArea {
        width: calc(100vw - 40px); 
        max-width: none; 
        transform: translateY(28vw)!important;
    }
    #inputArea {
        top: 3vw;
        width: 60vw;
    }
    #textInput {
        width: 60vw;
        height: 4vw;
    }
    #maintext {
        top: 9vw;
        font-size: 2.5vw;
    }
    .letter {
        margin: 9vw 0;
    }
    .popup {
        transform: translate(7px,10px)!important;
    }
    .popup.small{
        top: 1%!important;
        width: 25px!important;
        height: 25px!important;
    }
    .mainImgShadow {
        top: 20%!important;
        width: 70vw!important;
        height: 42vw!important;
    }
    .main-image img {
        top: 20%!important;
        width: 70vw!important;
        height: 42vw!important;
    }
    .thumbnail-slider{
        transform: translateY(300%)!important;
        width: 70vw!important;
    }
    .scroll-message{
        font-size: 8px!important;
        top: 70%!important;
    }
    .popup-logo{
        width: 50px!important;
        height: 50px!important;
        bottom: 3px!important;
    }
}

.letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin: 3vw 0;
}

.letter img {
    position: absolute;
}

.logo {
  position: fixed;
  bottom: 7vw; 
  left: 50%;
  transform: translateX(-50%); 
  width: 8vw; 
  height: 8vw;
  min-width: 60px ;
  min-height: 60px ;
  z-index: 5;

}

.popup-logo { 
  width: 6vw; 
  height: 6vw;
  min-width: 30px ;
  min-height: 30px ;
  z-index: 105;
  bottom: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.popup {
    position: absolute;
    width: 280px;
    top: 19%;
    left: calc(50% - 140px);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.popup.small {
  width: 3vw;
  height: 3vw;
  background-color: #333; 
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  position: fixed;
  min-width: 20px;
  min-height: 20px;
}

.popup.small:hover{
    background-color: #FF4930;
}

.popup.small:hover .popup-text{
    display: none;
}

.popup.small img{
  display: none;
}

.popup img {

    width: 100%; 
    height: auto;
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
    z-index: -5;
}

.popup-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
}


.popup:hover img {
    filter: brightness(0.5);   
}


.popup:hover .popup-text {
    opacity: 1;
}

.archive-popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 6;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 2px;
    transform: translateX(-15px);
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    z-index: 101;
    padding: 0;
    font-size: 30px;
}

.mainImgShadow{
    width: 50vw;
    height: 30vw;
    min-width: 280px;
    min-height: 168px;
    position: absolute;
    top: 15px;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 104;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.9) 100%);
}

.main-image img {
    width: 50vw;
    height: 30vw;
    min-width: 280px;
    min-height: 168px;
    object-fit: cover;
    margin-bottom: 2vw;
    position: absolute;
    top: 15px;
    left: 50vw;
    transform: translateX(-50%);
}

.scroll-message{
    font-size: 1vw;
    position: absolute;
    top: 45vw;
    color: white;

}

.main-copyright{
    font-size: 8px;
    bottom: 10px;
    color: #FF4930;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 300px;
}
.copyright{
    width: 300px;
    font-size: 8px;
    position: absolute;
    bottom: 10px;
    color: #FF4930;
}

.thumbnail-slider {
    position: absolute;
    top: 34vw;
    width: 50vw;
    min-width: 280px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.thumbnail-track {
    display: inline-flex;
    gap: 1vw;
}

.thumbnail {
    width: 10vw;
    height: 10vw;
    min-width: 55px;
    min-height: 55px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
    opacity: 0.5;
}